.Normal_text {font-family:Arial;font-weight:bold;font-style:normal;font-size:9.12pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0.03em;}
.Heading_1 {font-family:Arial;font-weight:normal;font-style:normal;font-size:19.42pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0.03em;}
